# Your credentials, from https://www.yelp.com/developers/manage_api_keys
# Then change this filename to credentials.R
consumerKey <- "your consumerKey"
consumerSecret <- "your consumerSecret"
token <- "ypur token"
token_secret <- "your token_secret"